# dependências
node_modules/
.pnpm-store/

# build
.next/
out/
dist/
.turbo/
*.tsbuildinfo
next-env.d.ts

# ambiente
.env
.env.local
.env.*.local

# testes
coverage/
playwright-report/
test-results/

# sistema
.DS_Store
*.log
